html {
  background-color: black;
  filter: invert(1) hue-rotate(180deg);
}


.jumbotron {
  background-image: url(../img/burger3.jpg);
  background-size: cover;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2), 0px 40px 40px rgba(0,0,0,0.5);
}

.title {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 5px 3px 5px rgb(255, 0, 234);
  color: black;
}

#name-label {
  padding: 0 20px 0 0;
}

h1, h2 {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 1px 2px rgb(255, 0, 234);
  display: block;
  text-align: center;
}

button {
  background-color: chartreuse;
  font-weight: bold;
  box-shadow: 3px 2px 3px black;
}

#submitBtn {
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: 3px 2px 3px black;
}

#burger-name{
  box-shadow: 6px 6px 10px 4px black;
  padding-left: 20px;
}

img {
  height: auto;
  width: 400px;
  text-align: center;
}

#notEaten {
  display: block;
  text-align: center;

}

#eaten {
  display: block;
  text-align: center;
  color: black !important;
}

form, h2, label {
  font-weight: bold;
  font-size: 30px;
  display: block;
  text-align: center;
}

ul {
  font-size: 18px;
  font-weight: bold;
}

li {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  list-style: none;
  color: black !important;
}

footer {
  padding-top: 30px;
}