html {
  background-color: black;
  filter: invert(1) hue-rotate(180deg);
}


.jumbotron {
  background-image: url(../img/burger3.jpg);
  background-size: cover;
}

.title {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 5px 3px 5px rgb(255, 0, 234);
  color: black;
}

h1 {
  text-align: center;
  color: rgb(255, 0, 43);
}

img {
  height: auto;
  width: 400px;
  text-align: center;
}

#notEaten {
  display: block;
  text-align: center;

}

#eaten {
  display: block;
  text-align: center;
  background: lemonchiffon !important;
  color: black !important;
}

form, h2, label {
  font-weight: bold;
  font-size: 30px;
  display: block;
  text-align: center;
}


li {
  padding: 5px;
  margin: 5px;
  text-align: center;
  list-style: none;
  color: black !important;
}

